@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="display-4">Acceso Denegado</h1>
    <p>Lo sentimos, no tienes permiso para acceder a esta página.</p>
    <p>Si crees que esto es un error, por favor contacta al administrador del sistema.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver a la página principal</a>
</div>
